p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
    margin: 0;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    transition: 1s;
}




i.fas,
i.fab,
i.far {
    color: black;
    background: rgba(245, 244, 243, 0.89);
    border: 2px solid black;
    border-radius: 25px;
    margin: 5px;
}

i.fas:hover,
i.fab:hover,
i.far:hover {
    background: silver;
}

.fa-smile-beam {
    font-size: 30px;
    height: 30px;
    width: 30px;
    display: inline-block;
    color: black;
}

h3 {
    font-size: 20px;
}

h2 {
    font-size: 12px;
}

h1 {
    display: inline-block;
    font-size: 30px;
}

.playArea {
    display: block;
    position: relative;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    top: 10%;
    height: 500px;
    width: 400px;
    background: #FFFFFF;
    background: -webkit-linear-gradient(to top, #FFFFFF, #bbbbbb);
    background: -moz-linear-gradient(to top, #FFFFFF, #bbbbbb);
    background: linear-gradient(to top, rgb(214, 207, 197), #ffffff);
    border: 1px solid black;
    border-radius: 5px;
}

.topBox {
    display: block;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px 10px 0 10px;
    height: 200px;
    background: rgba(245, 244, 243, 0.89);
    text-align: center;
}

#playerSubmit > button {
    height: 20px;
    width: 60px;
    text-align: center;
    margin: auto;
    justify-content: center;
}






#face {
    display: none;
    font-size: 30px;
    height: 30px;
    width: 30px;
    color: black;
    border: 0px solid black;
}

#playerInfo {
    display: none;
    position: absolute;
    left: 20px;
}

#settingInfo {
    display: none;
    position: absolute;
    right: 20px;
    top: 50px;
}

.dialogBox {
    display: flex;
    position: relative;
    background: rgba(245, 244, 243, 0.89);
    border: 1px solid black;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 325px;
    height: 125px;
    top: 20px;
}

#dialog {
    margin: auto;
    font-size: 20px;
    text-align: center;
    padding: 5px;
}

.nextBox {
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 399px;
    bottom: 1px;
    text-align: center;
}

.nextBox > i {
    font-size: 50px;
    height: 50px;
    width: 50px;
    padding: 10px;;
    margin-bottom: 40px;
    display: inline-block;
    color: black;
    
}

#nextIcons {
    display: none;
}

.commandBox {
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 399px;
    bottom: 1px;
    text-align: center;
}

.commandBox > i {
    font-size: 50px;
    height: 50px;
    width: 50px;
    padding: 10px;;
    margin-bottom: 20px;
    display: inline-block;
    color: black;
    
}

#commandIcons {
    display: none;
}

.combatBox {
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 399px;
    bottom: 1px;
    text-align: center;
}

.combatBox > i {
    font-size: 50px;
    height: 50px;
    width: 50px;
    padding: 10px;;
    margin-bottom: 20px;
    display: inline-block;
    color: black;
    
}

#combatIcons {
    display: none;
}